body{
  min-width: 940px;
  background-color: whitesmoke;
}

button{
  border-style: none;
  font-size: xx-large;
  cursor: pointer;
}

#board, #board2{
  width: 49%;
  /*display: inline-block;*/
}

.col{
  display: inline-block;
}

.cell {
  border: thin solid gray;
  width: 12px;
  height: 12px;
  background-color: silver;
}

.scale0 {
  background-color: #faa;
}

.now{
  border: thin solid black;
}

.active{
  background-color: black;
}

.clear {
  display: block;
  width: auto;
  margin: auto;
}

.hide {
  display: none;
}
